.main-header {
  background: @primary;
}

.main-logo {
  line-height: normal;
  max-height: 30px;
}

.main-nav {
  line-height: 30px;
  vertical-align: middle;
  ul {
    li {
      display: inline-block;
      color: @gray-text;
      font-family: @main-font-semibild;
      font-size: 14px;
      font-weight: 400;
      .transition;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: block;
        padding: 20px 20px;
        &:hover {
          background-color: @secondary;
          color: @white;
        }
      }
    }
  }
}

.submenu-isset {
  .transition;
  &:hover {
    .sub-menu-hidden {
      display: block;
    }
  }
}

