.sub-menu-hidden {
	display: none;
	padding: 10px 0 50px 0;
	background: #ffffff;
	position: absolute;
	top: 69px;
	left: 0;
	right: 0;
	width: 100%;

	.top-links, .sub-menu  {
		.top-link-wrap, .sub-menu-item {
			&:hover {
				background: none;
				color: @secondary;
			}

			.top-link, .sub-menu-link  {
				padding: 0;
				color: @gray-text;

				&:hover {
					background: none;
					color: @secondary;
				}
			}
		}
	}

	.sub-menu {
		column-count: 4;

		.sub-menu-item {
			display: block;
			font-size: 12px;
			margin: 0;

			&:hover {
				color: @gray-text;
				background: none;
			}

			.sub-menu-link {
				padding: 0;
				background: none;
				.transition;

				&:hover {
					background: none;
					color: @secondary;
				}
			}
		}
	}
}

// Media
@media (max-width: 991px) {
	.sub-menu-hidden {
		position: static;
	}

	.sub-menu-hidden {
		padding: 0;

		.top-links, .sub-menu  {
			.top-link-wrap, .sub-menu-item {
				&:hover {
					background: none;
				}

				.top-link, .sub-menu-link {
					font-size: 14px;
				}
			}
		}

		.top-links {
			overflow: hidden;

			.top-link {
				width: 50%;
			}
		}

		.sub-menu {
			column-count: 1;
			border-bottom: 1px solid @secondary;
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
	}

}


